.App {
  text-align: center;
  align-items: center;
 
  background-color: yellow;
  height: 100vh;
}

a{
  text-decoration: none;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.parentCont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 20px 0px;
}

.thumpCont {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  /* background-color: yellow; */
  margin: 10px;
  border: solid black;
}

#thumpNail{
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 100px;
}

#thumpNailTitle{
 
}

