body {
  margin: 0;
  max-height: 100px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aqua;
  align-items: center;
  width: 100%;
  height: 30px;
}